# Maven build files
target
*.log
maven-eclipse.xml
build.properties
site-content
*~

# IntelliJ IDEA files
.idea
.iws
*.iml
*.ipr

# Eclipse files
.settings
.classpath
.project
.externalToolBuilders
.checkstyle

### Vertx ###
# Vertx cache directory
.vertx
*.id
**/asciidoc
**/generated


### MongoDB ###
**/data

# End of https://www.gitignore.io/api/java,maven,vertx,intellij
