// Styling for the post page
.post-preview {
  > a {
    color: $gray-900;
    &:focus,
    &:hover {
      text-decoration: underline;
      color: $hover;
    }
    > .post-title {
      font-size: 36px;
      margin-top: 30px;
      margin-bottom: 10px;
      color: $primary;
    }
    > .post-subtitle {
      font-weight: 300;
      margin: 0 0 10px;
    }
  }
  > .post-meta {
    font-size: 14px;
    font-style: italic;
    margin-top: 0;
    color: $gray-600;
    > a {
      text-decoration: none;
      color: $gray-900;
      &:focus,
      &:hover {
        text-decoration: underline;
        color: $hover;
      }
    }
  }
  @media only screen and (min-width: 400px) {
    > a {
      color: $gray-900;
      &:focus,
      &:hover {
        text-decoration: underline;
        color: $hover;
      }
      > .post-title {
        font-size: 46px;
        &:hover {
          color: $hover;
        }
      }
    }
  }
}
